/* Allgemeine Stile */
body, html {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

/* Kartenstil */
.card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Button-Stile */
.btn {
    background-color: #6a82fb;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    margin-top: 10px;
    display: block;
    width: calc(100% - 40px); /* Padding abziehen */
}

.btn:hover {
    background-color: #556bf4;
}

.btn-logout {
    background-color: #dc3545;
    position: absolute;
    top: 20px;
    right: 20px;
}

.btn-logout:hover {
    background-color: #c82333;
}

/* Text- und Link-Stile */
a {
    color: #6a82fb;
    text-decoration: none; /* Unterstreichung entfernen */
}

a:hover {
    color: #556bf4;
}

.input-text {
    width: calc(100% - 40px); /* Breite unter Berücksichtigung des Paddings anpassen */
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Padding und Border in der Breite einschließen */
}

/* Container und Layout */
.container {
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative; /* Notwendig für absolute Positionierung des Logout-Buttons */
    width: 90%; /* Responsive Breite */
    max-width: 600px; /* Maximale Breite */
    margin: auto; /* Zentriert den Container */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.llm-response {
    width: calc(100% - 60px); /* Breite gleich wie .input-text */
    margin-top: 10px;
    color: #333;
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.knopf {
    background-color: #6a82fb; 
    border: none; 
    border-radius: 8px; 
    padding: 12px 24px; 
    cursor: pointer; 
    color: white; 
    text-transform: uppercase; 
    font-weight: bold; 
    box-shadow: 0 4px 8px rgba(50, 50, 93, 0.25), 0 1px 3px rgba(0, 0, 0, 0.1); 
    margin-top: 10px; 
    display: block; 
    width: calc(100% - 48px); 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.knopf:hover, .knopf:focus {
    background-color: #8a9dfb; 
    box-shadow: 0 6px 12px rgba(50, 50, 93, 0.35); 
}
